#  SPDX-License-Identifier: LGPL-2.1+
#
#  This file is part of steamos-customizations.
#
#  steamos-customizations is free software; you can redistribute it and/or
#  modify it under the terms of the GNU Lesser General Public License as
#  published by the Free Software Foundation; either version 2.1 of the License,
#  or (at your option) any later version.

[Unit]
Description=Create Swap File
DefaultDependencies=no
Before=shutdown.target home-swapfile.swap
Conflicts=shutdown.target
ConditionFileIsExecutable=/usr/bin/mkswapfile
ConditionPathExists=!/home/swapfile
RequiresMountsFor=/home/swapfile

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mkswapfile /home/swapfile 1024

[Install]
WantedBy=swap.target

