[Unit]
Description=Manage Nvidia Vulkan ICD Handler
Before=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/share/gamescope-session/check-nvidia.sh

[Install]
WantedBy=default.target

