[Desktop Entry]
Name=Return to Gaming Mode
Exec=/usr/bin/steamos-session-select gamescope
Icon=/usr/share/icons/chimeraos/scalable/actions/return-to-game-mode.svg
Terminal=false
Type=Application
StartupNotify=false
