[Desktop Entry]
Name=Game Mode
Exec=qdbus org.kde.Shutdown /Shutdown org.kde.Shutdown.logout
Icon=/usr/share/icons/chimeraos/scalable/actions/return-to-game-mode.svg
Terminal=false
Type=Application
StartupNotify=false
